version: "3.9"

services:
  app:
    image: banking-demo:1.0.0
    container_name: demo-transaction-banking
    command: uv run fastapi dev app/main.py --host 0.0.0.0 --port 8919 --reload
    volumes:
      - .:/app
      - ${HOME}/.azure:/root/.azure
    ports:
      - "8919:8919"

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.15.3
    container_name: aiops-elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - es_data:/usr/share/elasticsearch/data
    ports:
      - "9200:9200"
      - "9300:9300"
    restart: unless-stopped

  kibana:
    image: docker.elastic.co/kibana/kibana:8.15.3
    container_name: aiops-kibana
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch
    restart: unless-stopped

volumes:
  es_data:
    driver: local
